html
    head
        style.
            body {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 2rem;
                flex-direction: column;
            }

            input {
                background: #2196F3;
                border: none;
                padding: .6rem;
                color: #fff;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
    body
        h2 Add Port
        table
            tbody
                tr
                    th 服务器
                    th 描述
                    th 操作
            if ports.length
                for item in ports
                    tr
                        td #{item.host}:#{item.port}
                        td 服务器HASH: #{item.uniKey}
                        td
                            div
                                input(type='button' onclick="start()" value="访问")
            else
                tr
                    td 暂无服务器
                    td -
                    td -
        script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
        script.
            function start() {

            }
